<span id='show_on_homepage'>
  <%= f.check_box :show_on_homepage %>
  <%= f.label :show_on_homepage, t('refinery.blog.admin.posts.homepage_posts.show_on_homepage'), :class => "stripped", :style => 'font-weight:bold;' %>

  <%= f.hidden_field :position %>
</span>