<nav id="main-navigation">
  <ul>
    <li><b><%= link_to 'of Beautiful things', refinery.blog_root_path %></b></li>
    <li><%= link_to 'Kat\'s story', refinery.url_for(Refinery::Page.find('kats-story')) %></li>
    <li><%= link_to 'Ask kat', refinery.url_for(Refinery::Page.find('ask-kat')) %></li>
  </ul>