<footer id="footer" class="alpha omega sixteen columns" data-hook>
  <nav id="footer-nav">
    <ul>
      <li><b>&copy; <%= Time.now.year %> Kat's Lounge</b></li>
      <li><%= link_to 'Legal Notice', refinery.url_for(Refinery::Page.find('legal-notice')) %></li>
      <li><%= link_to 'Legal Notice', refinery.url_for(Refinery::Page.find('privacy-policy')) %></li>
    </ul>
  </nav>
</footer>