@font-face {font-family:
    'RaphaelIcons';
    src:url('icon-fonts/raphaelicons-webfont.eot');
    src:local('RaphaelIcons'),
        url('icon-fonts/raphaelicons-webfont.woff') format('woff'),
        url('icon-fonts/raphaelicons-webfont.ttf') format('truetype'),
        url('icon-fonts/raphaelicons-webfont.svgwebfontKOf9F4sx') format('svg');
}

.icon {
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    font-family: 'RaphaelIcons';
    font-size: 1.1em;
    position: relative;
    top: 0.1em;
}