@font-face {font-family:
    'RaphaelIcons';
    src:url('icon-fonts/raphaelicons-webfont.eot');
    src:local('☺'),
        local('RaphaelIcons'),
        url('icon-fonts/raphaelicons-webfont.woff') format('woff'),
        url('icon-fonts/raphaelicons-webfont.ttf') format('truetype'),
        url('icon-fonts/raphaelicons-webfont.svgwebfontKOf9F4sx') format('svg');
}

@media screen and (max-device-width: 1024px) {
    @font-face {
        font-family:'RaphaelIcons';
        src:url('icon-fonts/raphaelicons-webfont.woff') format('woff'),
            url('icon-fonts/raphaelicons-webfont.ttf') format('truetype'),
            url('icon-fonts/raphaelicons-webfont.svgwebfontKOf9F4sx') format('svg');
    }
}

.icon {
    font-weight: normal;
    font-style: normal;
    line-height: normal;
    font-family: 'RaphaelIcons';
    font-size: 1.1em;
    position: relative;
    top: 0.1em;
}


@mixin icons-common($color_standard, $color_hover, $icon-text, $icon-size, $top-margin) {
    font-weight: normal;
    font-style: normal;
    position: relative;
    font-size: $icon-size;
    font-family: 'RaphaelIcons';
    top: $top-margin;
    content: $icon-text;
    color: $color_standard;
}

@mixin icon-after($color_standard: #CCCCCC, $color_hover: #000000, $icon-text: '!', $icon-size: 1.25em, $top-margin: 0.17em) {
  &:after {
    @include icons-common($color_standard, $color_hover, $icon-text, $icon-size, $top-margin);
    margin-left:0.25em;
  }
  &:hover:after {
   color: $color_hover;
  };
}

@mixin icon-before($color_standard: #CCCCCC, $color_hover: #000000, $icon-text: '!', $icon-size: 1.25em, $top-margin: 0.17em) {
  &:before {
    @include icons-common($color_standard, $color_hover, $icon-text, $icon-size, $top-margin);
    margin-right:0.25em; 
  }
  &:hover:after {
   color: $color_hover; 
  };
}