@import "store/variables";


$logo_bg_red: #891101;
$logo_border_red: #e74203;
$body_bg_color: #f8f8f8;
$common_shade_of_white: #FFFFFF;
$common_border_color: #BBBBBB;
$subtle_border_color: #EEEEEE;

$title_color_low_profile: #CCCCCC;

/* Mixins */
@mixin border-radius-side($side, $radius) {
  border-#{$side}-radius: $radius;
  -moz-border-radius-#{$side}: $radius;
  -webkit-border-#{$side}-radius: $radius;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}


@mixin make-button(
  $background-color: #d6a765,
  $gradient-start: #9c7d3e,
  $gradient-end: #d6a765,
  $border-top: #f7df97,
  $hover-background:#785a28,
  $active-background:#5c221b) {

  border:none;
  border-top: 1px solid $border-top;
  background: $background-color;
  background: -webkit-gradient(linear, left top, left bottom, from($gradient-start), to($gradient-end));
  background: -webkit-linear-gradient(top, $gradient-start, $gradient-end);
  background: -moz-linear-gradient(top, $gradient-start, $gradient-end);
  background: -ms-linear-gradient(top, $gradient-start, $gradient-end);
  background: -o-linear-gradient(top, $gradient-start, $gradient-end);
  padding: 5px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 1em;
  font-weight:400;
  font-family: 'Open Sans', Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  vertical-align: middle;

  &:hover {
    border-top-color: #785a28;
    background: $hover-background;
    color: #ccc;
  }
  &:active {
    border-top-color: #5c221b;
    background: $active-background;
  }
}

/* Basic styles & Structure */
body {
  background: $body_bg_color;
}

figure#logo {
  background: $logo_bg_red;
  display:block;
  margin:0 auto;
  padding:0 5px 5px;
  width:178px;

  &:hover {background: #660000;}

  a {
    font-family:'Nunito', sans-serif;
    text-transform:uppercase;
    text-align:center;
    font-size:18px;
    font-weight:300;
    color: #FFFFFF;
    border: 1px dashed $logo_border_red;
    border-top: none;
    padding:5px 8px;
    display:block;
    width:160px;

    &:hover { color: $logo_border_red !important;}

    b {font-weight:700;}
  }
}

nav#main-navigation {
  margin:2em auto 3em auto;
  text-align:center;

  ul {
    li {
      display:inline;
      font-family: 'Open Sans', sans-serif;
      font-style:italic;
      font-size:16px;
      margin:0 1em;

      &:first-child {margin-left:0;}
      &:last-child {margin-right:0};

      a {
        color: $logo_bg_red;

        &:hover {color: $logo_border_red};
      }
    }
  }
}

nav#footer-nav {
  ul {
    li {
      display: inline;
      padding:0.1em 1em;
      margin:0;
      border-right:1px solid $common_border_color;

      &:last-child {border:none;}
      &:first-child {margin-left: -1em};
    }
  }
}

/* Misc components */
.section-nav-container {
  width:98%;
  display:block;
  padding:1%;
  background: $common_shade_of_white;
}


/* Links */
@mixin icon-after($color_standard, $color_hover, $icon-text, $icon-size: 1.25em, $top-margin: 0.14em) {
  &:after {
    font-weight: normal;
    font-style: normal;
    font-size: $icon-size;
    font-family: 'RaphaelIcons';
    position: relative;
    top: $top-margin;
    margin-left:0.25em;
    content: $icon-text;
    color: $color_standard;
  }
  &:hover:after {
   color: $color_hover; 
  };
}

a.read-more {
  @include icon-after(#f4c212, #7d6201, ':');
}

a.read-more-section {
  @include icon-after(#d79a96, #a65651, ':');
  font-size:1.15em;
}

/* Forms & Buttons */
input[type="submit"], input[type="button"], input[type= "reset"], button, a.button {
  @include make-button;
}


/**********************/
/* Refinery Specific */
/**********************/
$content_padding: 0.25em 1em;

section#body {
  background-color: $common_shade_of_white;
  padding: $content_padding;
  margin-top:1em;
}

h1#body_content_title {
  color: $title_color_low_profile;
}

/* Blog */
div#blog_post_index {
  section#body_content {
    section#body {
      width:75%;
      border-right:1px solid $subtle_border_color;
      padding:0 4% 0 0;
      float:left;
      background:none;

      header {
        h1 {
          font-weight:400;
          font-size:1.8em;
          font-style:italic;
          letter-spacing:-0.05em;
          a {color:#000000;}
        }
      }
      section {
        color: #888888;
        font-size:1.08em;
      }

      footer {margin-bottom:2em;}
    }

    section#side_body {
      width:18%;
      float:right;

      h2 {
        color: #e4c763;
        font-weight:400;
        font-style:italic;
        font-size:1.8em;
      }

      nav#tags, ul#categories li {
        a {
          background: #EEEEEE;
          padding:0.1em 0.4em;
          margin:0.2em;
          display:inline-block;
          @include border-radius(0.5em);

          &:hover {background: #CCCCCC;}
        }
      }

      ul#categories {
        margin-bottom:1.5em;
      }
    }

  }
}

div#blog_post_single {
  section#body_content {
    section#body {
      padding:0;
      float:left;
      background:none;

      header {
        h1 {
          font-weight:700;
          font-size:1.8em;
          letter-spacing:-0.05em;
          a {color:#000000;}
        }
      }
      article#blog_post {
        padding:$content_padding;
        background: $common_shade_of_white;
        margin-top:1em;
        color: #888888;
        font-size:1.08em;

        img.image-align-left {
          float:left;
          margin-right:0.8em;
        }

        img.image-align-right {
          float:right;
          margin-left:0.8em;
        }
      }

      aside#comments {
        h2 {
          font-weight: 300;
          letter-spacing:-0.05em;
          font-size:1.5em;
          margin-top:1em;
        }

        div.field {
          label {
            display:block;
          }

          input, textarea {
            margin-bottom:1em;
          }
        }
      }
    }
  }
}


a#rss_feed_subscribe {
  color: #CCCCCC;
  @include icon-after(#f8d14a, #7d6201, 'Æ', 1.7em, 0.16em);
}

