@import "store/variables";
@import "store/icons";


$logo_bg_red: #891101;
$logo_border_red: #e74203;
$body_bg_color: #f8f8f8;
$common_shade_of_white: #FFFFFF;
$common_border_color: #BBBBBB;
$subtle_border_color: #EEEEEE;

$title_color_low_profile: #CCCCCC;
$subtle_text_color: #BBBBBB;

/* Common Mixins */
@mixin border-radius-side($side, $radius) {
  border-#{$side}-radius: $radius;
  -moz-border-radius-#{$side}: $radius;
  -webkit-border-#{$side}-radius: $radius;
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin box-shadow($color_r: 0, $color_g: 0, $color_b: 0, $alfa: 1, $x:0px, $y:0px, $area:3px) {
  -webkit-box-shadow: rgba($color_r,$color_g,$color_b,$alfa) $x $y $area;
  -moz-box-shadow: rgba($color_r,$color_g,$color_b,$alfa) $x $y $area;
  box-shadow: rgba($color_r,$color_g,$color_b,$alfa) $x $y $area;
}


@mixin make-button(
  $background-color: #d6a765,
  $gradient-start: #9c7d3e,
  $gradient-end: #d6a765,
  $border-top: #f7df97,
  $hover-background:#785a28,
  $active-background:#5c221b) {

  border:none;
  border-top: 1px solid $border-top;
  background: $background-color;
  background: -webkit-gradient(linear, left top, left bottom, from($gradient-start), to($gradient-end));
  background: -webkit-linear-gradient(top, $gradient-start, $gradient-end);
  background: -moz-linear-gradient(top, $gradient-start, $gradient-end);
  background: -ms-linear-gradient(top, $gradient-start, $gradient-end);
  background: -o-linear-gradient(top, $gradient-start, $gradient-end);
  padding: 5px 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  color: white;
  font-size: 1em;
  font-weight:400;
  text-decoration: none;
  vertical-align: middle;

  &:hover {
    border-top-color: #785a28;
    background: $hover-background;
    color: #ccc;
  }
  &:active {
    border-top-color: #5c221b;
    background: $active-background;
  }
}

/* Basic styles & Structure */
body {
  background: $body_bg_color;
  font-family: 'Open Sans', Helvetica, Arial, Sans-Serif;
  font-weight:300;
}

figure#logo {
  background: $logo_bg_red;
  display:block;
  margin:0 auto;
  padding:0 5px 5px;
  width:178px;
  @include box-shadow;

  &:hover {background: #660000;}

  a {
    font-family:'Nunito', sans-serif;
    text-transform:uppercase;
    text-align:center;
    font-size:18px;
    font-weight:300;
    color: #FFFFFF;
    border: 1px dashed $logo_border_red;
    border-top: none;
    padding:5px 8px;
    display:block;
    width:160px;
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);

    &:hover { color: $logo_border_red !important;}

    b {font-weight:700;}
  }
}

nav#main-navigation {
  margin:2em auto 3em auto;
  text-align:center;

  ul {
    li {
      display:inline;
      font-style:italic;
      font-size:16px;
      margin:0 1em;
      white-space:nowrap;

      &:first-child {margin-left:0;}
      &:last-child {margin-right:0};

      a {
        color: $logo_bg_red;

        &:hover {color: $logo_border_red};
      }
    }
  }
}

nav#footer-nav {
  margin-bottom:1em;
  ul {
    li {
      white-space:nowrap;
      display: inline;
      padding:0.1em 1em;
      border-right:1px solid $common_border_color;

      &:last-child {border:none;}
      &:first-child {margin-left: -1em};

      span.user-box {
        margin-left:-1em;
      }
    }
  }
}


header.home-banner {
  width:100%;
  height:327px;

  div.header-text {
    background:$common_shade_of_white;

    padding:10px;
    margin: 0;
    max-width:500px;
    min-width:300px;
    min-height:50px;

    position: absolute;

    overflow:hidden;
    @include border-radius(1em);
    @include box-shadow(0,0,0,0.8, 1px, 1px, 8px);

    h2 {
      font-size:1.5em;
      font-weight:300;
      font-style:italic;
      margin:0 0 0.4em 0;
      padding:0;
      line-height:1.2em;
    }

    p {
      margin:0;
      padding:0;
      font-size:1.1em;
    }
  }

  img {
  }
}

/* Misc components */
footer.section-nav-container {
  width:98%;
  display:block;
  padding:1%;
  background: $common_shade_of_white;
}


/* Links */
a.read-more {
  @include icon-after(#f4c212, #7d6201, '\f0a9');
}

a.read-more-section {
  @include icon-after(#d79a96, #a65651, '\f0a9');
  font-size:1.15em;
}

a.view-product {
  @include icon-after(#d79a96, #a65651, '\f05a', 1.5em);
  font-weight:300;
}

/* Forms & Buttons */
input[type="submit"], input[type="button"], input[type= "reset"], button, a.button {
  @include make-button;
}


/**********************/
/* Refinery Specific */
/**********************/
$content_padding: 0.25em 1em;

section#body {
  background-color: $common_shade_of_white;
  padding: $content_padding;
  margin-top:1em;
  line-height:1.6em;
}

h1#body_content_title {
  color: $title_color_low_profile;
}

/* Blog */
div#blog_post_index {
  section#body_content {
    section#body {
      width:75%;
      border-right:1px solid $subtle_border_color;
      padding:0 4% 0 0;
      float:left;
      background:none;

      article.blog_post {
        margin-bottom:4em;
        float:left;

        img.blog_post_image, img.blog_post_image_no_border {
          float:left;
          margin:0.9em 1em 0 0;
          border:1px solid $common_border_color;
        }

        img.blog_post_image_no_border {
          border-color:$body_bg_color;
        }

        div.blog_post_text {
          overflow:hidden;

          header {
            h1 {
              padding:0;
              font-weight:400;
              font-size:1.8em;
              font-style:italic;
              letter-spacing:-0.05em;
              a {color:#000000;}
            }
          }

          section {
            color: #888888;
            font-size:1.05em;

            footer {
              margin:0.5em 0 0 0;
            }

            section.blog-content, section.product-content {
              display:block;
              overflow:hidden;
              margin-bottom:1em;
            }

            section.blog-content {
            }

            section.product-content {
            }
          }
        }
      }

    }

    section#side_body {
      width:18%;
      float:right;

      h2 {
        color: #e4c763;
        font-weight:400;
        font-style:italic;
        font-size:1.8em;
      }

      nav#tags, ul#categories li {
        a {
          background: #EEEEEE;
          padding:0.1em 0.4em;
          margin:0.2em;
          display:inline-block;
          @include border-radius(0.5em);

          &:hover {background: #CCCCCC;}
        }
      }

      ul#categories {
        margin-bottom:1.5em;
      }
    }

  }
}

div#blog_post_single {
  section#body_content {
    section#body {
      padding:0;
      float:left;
      background:none;;

      header {
        h1 {
          font-weight:700;
          font-size:1.8em;
          letter-spacing:-0.05em;
          a {color:#000000;}
        }
      }
      article#blog_post {
        padding:$content_padding;
        background: $common_shade_of_white;
        margin-top:1em;
        color: #888888;
        font-size:1.08em;
        overflow:hidden;

        img.image-align-left {
          float:left;
          margin-right:0.8em;
        }

        img.image-align-right {
          float:right;
          margin-left:0.8em;
        }

        section.blog-post-product-content {
          float:left;
          overflow:hidden;
          padding:0.25em 1em 0 1em;
          margin-right:1.5em;
          border-right:1px solid $subtle_border_color;
          width:250px;
          text-align:center;

          p {
            text-align:left;
            font-style:italic;
            color: $subtle_text_color;
          }
        }
      }

      aside#comments {
        h2 {
          font-weight: 300;
          letter-spacing:-0.05em;
          font-size:1.5em;
          margin-top:1em;
        }

        div.field {
          label {
            display:block;
          }

          input, textarea {
            margin-bottom:1em;
          }
        }
      }
    }
  }
}


article#home-content {
  display:block;
  overflow:hidden;
  margin:2em 0;

  ul#homepage-products {
    li {
      display:block;
      list-style:none;
      background: $common_shade_of_white;
      padding:15px;
      width:160px;
      min-height:33.5em;
      float:left;
      margin:0 10px;

      &:first-child {margin-left:0;}
      &:last-child {margin-right:0;}

      img {}

      h1 {
        font-weight:400;
        line-height:1.25em;
        font-style:italic;
        font-size:1.3em;
        margin-bottom:0.5em;

        a {
          color:#555555;
        }
      }
    }

    li.first-post {
      width:485px;

      h1 {
        font-size:2em;
      }

      img {
        float:right;
        margin-left:1em;
      }

      section.blog-content {
        font-size:1.1em;
      }
    }
  }

}

a#rss_feed_subscribe {
  color: #CCCCCC;
  @include icon-after(#f8d14a, #7d6201, '\f09e', 1.7em, 0.16em);
}


/* --------- Spree --------- */
span#nav-cart-block {
  a {
    @include icon-before( #DEDEDE  , $logo_border_red, '\f07a', 1.5em, 0.12em );
    color:#CCCCCC !important;
    &:hover {color: $logo_bg_red !important}
    margin-right:0.5em;
  }
}

span.user-box {
  .account, .login, .logout {
    margin-left:1em;
  }

  .account a {
    @include icon-before(#DEDEDE, #7d6201, '\f007', 1.7em, 0.16em);
  }

  .login a {
    @include icon-before(#DEDEDE, #7d6201, '\f090', 1.7em, 0.16em);
  }

  .logout a {
    @include icon-before(#DEDEDE, #7d6201, '\f08b', 1.7em, 0.16em);
  }
}