<div class="home-banner">
  <%= image_tag('temp-banner.png') %>
</div>

<div class="section-nav-container" >
  <%= link_to 'Read more stories <b><em>of Beautiful things</em></b>'.html_safe, refinery.blog_root_path, :class => 'read-more-section' %>
</div>